<div class="filtro-veiculos-container">
    <form>
        <div class="field">
            <label for="placa" class="control-label">Placa </label>
            <input type="text" class="form-control" id="placa" name="placa">
        </div>
        <div class="field">
            <label for="marca" class="control-label">Marca </label>
            <input type="text" class="form-control" id="marca" name="marca">
        </div>
        <div class="field">
            <label for="modelo" class="control-label">Modelo </label>
            <input type="text" class="form-control" id="modelo" name="modelo">
        </div>
        <div class="field">
            <div class="container-anos">
                <div>
                    <label for="anoMin" class="control-label">Ano Min.</label>
                    <select name="anoMin" id="AnoMin"></select>
                </div>
                <div>
                    <label for="anoMax" class="control-label">Ano Max.</label>
                    <select name="anoMax" id="anoMax"></select>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="preco" class="control-label">Preço </label>
            <select name="preco" id="preco"></select>
        </div>
        <div class="field">
            <label for="fotos" class="control-label">Fotos </label>
            <select name="fotos" id="fotos"></select>
        </div>
        <div class="field">
            <label for="opcionais" class="control-label">Opcionais </label>
            <input type="text" class="form-control" id="opcionais" name="opcionais">
        </div>
        <div class="field">
            <label for="cor" class="control-label">Cor </label>
            <select name="cor" id="cor"></select>
        </div>
    </form>
</div>