.teste {
    text-align: center;
    height: 90vh;
    width: 25vw;

    h1 {
        margin-top: 3em;
    }

    form {
        margin-top: 3em;

        mat-form-field {
            width: 90%;
        }
    }

    .button-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}